templatev3.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "SentinelNotifyTeams",
            "type": "string"
        },
        "AADTenantId": {
            "defaultValue": "",
            "type": "string"
        },
        "AADClientId": {
            "defaultValue": "",
            "type": "string"
        },
        "AADSecret": {
            "defaultValue": "",
            "type": "String"
        },
        "yourAADDomain": {
            "defaultValue": "yourdomain.com",
            "type": "String"
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "MicrosoftSentinelConnectionApiId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
        "MicrosoftTeamsConnectionName":  "[concat('MicrosoftTeams-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "ForEach1": {
                            "foreach": "@variables('IncidentEntities')",
                            "actions": {
                                "CreateHTMLTableEntities": {
                                    "runAfter": {},
                                    "type": "Table",
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@array(items('ForEach1')['properties'])"
                                    }
                                },
                                "MessageRes1": {
                                    "runAfter": {
                                        "CreateHTMLTableEntities": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "messageBody": "<p>@{body('CreateHTMLTableEntities')}</p>",
                                            "parentMessageId": "@body('NotifyTeams')?['id']",
                                            "recipient": {
                                                "channelId": "",
                                                "groupId": ""
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v1.0/teams/conversation/replyWithMessage/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "IncidentEntities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "ForEach2": {
                            "foreach": "@variables('IncidentComments')",
                            "actions": {
                                "MessageRes2": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "messageBody": "<B>Summary</B><BR><blockquote>@{items('ForEach2')['properties']['message']}</blockquote>",
                                            "parentMessageId": "@body('NotifyTeams')?['id']",
                                            "recipient": {
                                                "channelId": "",
                                                "groupId": ""
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v1.0/teams/conversation/replyWithMessage/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "IncidentComments": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "ForEachAAD": {
                            "foreach": "@variables('IncidentEntities')",
                            "actions": {
                                "CheckAccount1": {
                                    "actions": {
                                        "AADLookupRESTAPI": {
                                            "runAfter": {
                                                "CheckAccount2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com",
                                                    "clientId": "[parameters('AADClientId')]",
                                                    "secret": "[parameters('AADSecret')]",
                                                    "tenant": "[parameters('AADTenantId')]",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/v1.0/users/@{variables('aaduser')}?$select=displayName,userPrincipalName,mail,mobilePhone,officeLocation,department,jobTitle"
                                            }
                                        },
                                        "CheckAccount2": {
                                            "actions": {
                                                "SetAadUserDisplayName1": {
                                                    "runAfter": {},
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "aaduser",
                                                        "value": "@body('ParseJSONAAD')?['properties']?['displayName']"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "SetAadUserDisplayName": {
                                                        "runAfter": {},
                                                        "type": "AppendToStringVariable",
                                                        "inputs": {
                                                            "name": "aaduser",
                                                            "value": "@body('ParseJSONAAD')?['properties']?['aadUserId']"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "contains": [
                                                            "@variables('InitAad2')",
                                                            "[parameters('yourAADDomain')]"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "MessageResAADLookup": {
                                            "runAfter": {
                                                "AADLookupRESTAPI": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "messageBody": "<p><b>displayName</b> : @{body('AADLookupRESTAPI')['displayName']}<br><b>userPrincipalName</b> : @{body('AADLookupRESTAPI')['userPrincipalName']}<br><b>mail</b> : @{body('AADLookupRESTAPI')['mail']}<br><b>mobilePhone</b> : @{body('AADLookupRESTAPI')['mobilePhone']}<br><b>officeLocation</b> : @{body('AADLookupRESTAPI')['officeLocation']}<br><b>department</b> : @{body('AADLookupRESTAPI')['department']}<br><b>jobTitle</b> : @{body('AADLookupRESTAPI')['jobTitle']}</p>",
                                                    "parentMessageId": "@body('NotifyTeams')?['id']",
                                                    "recipient": {
                                                        "channelId": "",
                                                        "groupId": ""
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v1.0/teams/conversation/replyWithMessage/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "InitAad2displayName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('ParseJSONAAD')?['kind']",
                                                    "Account"
                                                ]
                                            },
                                            {
                                                "or": [
                                                    {
                                                        "greater": [
                                                            "@length(variables('InitAad1'))",
                                                            1
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@variables('InitAad2')",
                                                            "[parameters('yourAADDomain')]"
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "InitAad1AadUserId": {
                                    "runAfter": {
                                        "ParseJSONAAD": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "InitAad1",
                                        "value": "@body('ParseJSONAAD')?['properties']?['aadUserId']"
                                    }
                                },
                                "InitAad2displayName": {
                                    "runAfter": {
                                        "InitAad1AadUserId": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "InitAad2",
                                        "value": "@body('ParseJSONAAD')?['properties']?['displayName']"
                                    }
                                },
                                "ParseJSONAAD": {
                                    "runAfter": {},
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('ForEachAAD')",
                                        "schema": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "properties": {
                                                        "aadUserId": {
                                                            "type": "string"
                                                        },
                                                        "accountName": {
                                                            "type": "string"
                                                        },
                                                        "additionalData": {
                                                            "properties": {
                                                                "AccountName": {
                                                                    "type": "string"
                                                                },
                                                                "DomainName": {
                                                                    "type": "string"
                                                                },
                                                                "UserPrincipalName": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "displayName": {
                                                            "type": "string"
                                                        },
                                                        "friendlyName": {
                                                            "type": "string"
                                                        },
                                                        "isDomainJoined": {
                                                            "type": "boolean"
                                                        },
                                                        "sid": {
                                                            "type": "string"
                                                        },
                                                        "upnSuffix": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "InitAad2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "IncidentComments": {
                            "runAfter": {
                                "NotifyTeams": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentComments",
                                        "type": "array",
                                        "value": "@triggerBody()?['object']?['properties']?['Comments']"
                                    }
                                ]
                            }
                        },
                        "IncidentEntities": {
                            "runAfter": {
                                "NotifyTeams": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IncidentEntities",
                                        "type": "array",
                                        "value": "@triggerBody()?['object']?['properties']?['relatedEntities']"
                                    }
                                ]
                            }
                        },
                        "InitAad1": {
                            "runAfter": {
                                "InitAadUser": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "InitAad1",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "InitAad2": {
                            "runAfter": {
                                "InitAad1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "InitAad2",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "InitAadUser": {
                            "runAfter": {
                                "IncidentEntities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "aaduser",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "NotifyTeams": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.4\",\n    \"msteams\": {\n        \"width\": \"Full\"\n        },\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()?['object']?['properties']?['title']}\",\n            \"wrap\": true,\n            \"fontType\": \"Default\",\n            \"size\": \"ExtraLarge\",\n            \"color\": \"Attention\",\n            \"isSubtle\": true\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"https://azure.microsoft.com/svghandler/azure-sentinel?width=600&height=200\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"ID : @{triggerBody()?['object']?['properties']?['incidentNumber']}\",\n                            \"wrap\": true,\n                            \"size\": \"Default\",\n                            \"weight\": \"Lighter\",\n                            \"color\": \"Accent\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Sevirity : @{triggerBody()?['object']?['properties']?['severity']}\",\n                            \"wrap\": true,\n                            \"size\": \"Default\",\n                            \"weight\": \"Lighter\",\n                            \"color\": \"Accent\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \" @{triggerBody()?['object']?['properties']?['description']}\",\n                            \"wrap\": true,\n                            \"size\": \"Default\",\n                            \"weight\": \"Lighter\",\n                            \"color\": \"Default\"\n                        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.OpenUrl\",\n                    \"title\": \"Open Microsoft Sentinel\",\n                    \"url\": \"@{triggerBody()?['object']?['properties']?['incidentUrl']}\"\n                }\n            ]\n        }\n                    ]\n                }\n            ]\n        }\n    ]\n}",
                                    "recipient": {
                                        "channelId": "",
                                        "groupId": ""
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[variables('MicrosoftSentinelConnectionApiId')]"
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftTeamsConnectionName'))]",
                                "connectionName": "[variables('MicrosoftTeamsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "type": "Microsoft.Web/connections",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[variables('MicrosoftSentinelConnectionApiId')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftTeamsConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                }
            }
        }

    ]
}
